<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <services>
        <service id="tntsearch.base.index" abstract="true">
            <argument type="service" id="tntsearch.provider"/>
        </service>

        <!-- needed to be used in loop...   -->
        <service id="tntsearch.search" alias="TntSearch\Service\Search" public="true" />
        <service id="tntsearch.indexation.provider" alias="TntSearch\Service\Provider\IndexationProvider" public="true" />
    </services>
</config>